<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<appSettings>
		<add key="SQLServer" value="172.16.1.53"/>
		<add key="SQLDatabase" value="Brand_Integrations"/>
		<add key="SQLUserID" value="sa"/>
		<add key="SQLPswrd" value="Bp$2024"/>
		<add key="Workstation" value="webclient"/>
		<!--<add key="SQLServer" value="ISAIS-LAP"/>
		<add key="SQLDatabase" value="Test_Brand_Integrations"/>
		<add key="SQLUserID" value="sa"/>
		<add key="SQLPswrd" value="sa1234"/>
		<add key="Workstation" value="isais-lap_8080"/>-->
	</appSettings>
</configuration>